[submodule "kata1"]
	path = kata1
	url = https://github.com/ALinaNahidi/katasfinal.git
[submodule "kata2"]
	path = kata2
	url = https://github.com/ALinaNahidi/kata2
[submodule "kata3"]
	path = kata3
	url = https://github.com/ALinaNahidi/kata3
[submodule "kata4"]
	path = kata4
	url = https://github.com/ALinaNahidi/kata4
[submodule "kata6"]
	path = kata6
	url = https://github.com/ALinaNahidi/kata6
[submodule "kata7"]
	path = kata7
	url = https://github.com/ALinaNahidi/kata7
[submodule "kata8"]
	path = kata8
	url = https://github.com/ALinaNahidi/kata8
[submodule "kata9"]
	path = kata9
	url = https://github.com/ALinaNahidi/kata9
[submodule "kata10"]
	path = kata10
	url = https://github.com/ALinaNahidi/kata10
[submodule "kata5"]
	path = kata5
	url = https://github.com/ALinaNahidi/keta5
[submodule "kata11"]
	path = kata11
	url = https://github.com/ALinaNahidi/kata11
[submodule "kata12"]
	path = kata12
	url = https://github.com/ALinaNahidi/kata12
[submodule "kata13"]
	path = kata13
	url = https://github.com/ALinaNahidi/kata13
[submodule "kata14"]
	path = kata14
	url = https://github.com/ALinaNahidi/kata14
[submodule "kata15"]
	path = kata15
	url = https://github.com/ALinaNahidi/kata15
[submodule "kata16"]
	path = kata16
	url = https://github.com/ALinaNahidi/kata16
[submodule "kata17"]
	path = kata17
	url = https://github.com/ALinaNahidi/kata17
[submodule "kata18"]
	path = kata18
	url = https://github.com/ALinaNahidi/kata18
[submodule "kata19"]
	path = kata19
	url = https://github.com/ALinaNahidi/kata19
